//This is the so-called universal reset
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	// This defines what 1rem is - 1 rem = 10px; 10px/16px = 62.5%
	font-size: 62.5%;
}

body {
	background-color: $ui_color_dark;
	color: $font_color_dark;
	font-size: 1.75rem;
}
