.app {
	background-color: $ui_color_deep_grey;
	border: none;
	border-radius: 0.7rem;
	margin: 7rem auto;
	padding: 1.5rem 2rem 0.5rem;
	width: 80vw;

	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"sidebar content"
		"sidebar content"
		"sidebar footer";
	grid-gap: 1rem;

	&__sidebar {
		grid-area: sidebar;
	}

	&__content {
		grid-area: content;
	}

	&__footer {
		grid-area: footer;
	}
}
