:is(*, *::after, *::before) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 62.5%;
}

body {
	background-color: #b6b600;
	color: #333;
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 10rem 5rem 0;
}

h1 {
	color: ghostwhite;
	text-align: center;
	text-transform: uppercase;
}

span {
	background-color: #333304;
	border: none;
	border-radius: 0.75rem;
	color: #dadada;
	font-size: 1.6rem;
	margin-right: 1rem;
	padding: 0.75rem;
}

form {
	background-color: #444410;
	border: none;
	border-radius: 0.4rem;
	color: #dadada;
	display: block;
	padding: 2rem;
	width: 80rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

h4 {
	font-weight: normal;
}

:is(label, .status, .genre) {
	display: block;
	text-transform: capitalize;
}

hr {
	border: none;
	border-bottom: 1px solid #8a8a23;
	display: inline-block;
	margin: 7rem auto 0;
	width: 80%;
}

:is(input[type="text"], input[type="date"], textarea) {
	appearance: none;
	border: none;
	border-radius: 0.5rem;
	background-color: #f3f365;
	display: inline-block;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 1.5rem 1rem;
	width: 40rem;
}

:is(.app, .manga) {
	border: 0.2rem solid #8a8a23;
	border-radius: 0.7rem;
}

:is(label, hr) {
	margin-bottom: 0 !important;
}

.app {
	background-color: #ffff91;
	margin: 3rem auto 0;
	padding: 4rem 2rem;
	width: 100%;

	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.manga {
	box-shadow: 0.45rem 0.45rem 0 rgba(3, 3, 3, 0.3);
	padding: 2rem 1rem;
	max-width: 50rem;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
}

.manga:first-of-type {
	margin-top: 7rem;
}

:not(.manga:last-of-type) {
	margin-bottom: 2rem;
}

.heading {
	padding: 2rem 0;
	text-transform: uppercase;
}

.credits {
	display: flex;
	flex-flow: row wrap;
}

.btn {
	appearance: none;
	background-color: #a7a707;
	border: none;
	border-radius: 0.8rem;
	box-shadow: 0 0.45rem 0 rgba(3, 3, 3, 0.3);
	color: #ffff91;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 2.2rem;
	padding: 2rem;
	width: 15rem;

	align-self: flex-end;

	transition: all 200ms ease-in;
	will-change: transform, background-color;
}

.btn--1 {
	font-size: 1.8rem;
}

.btn:focus {
	background-color: #9c9c07;
	outline: none;
}

.btn:hover {
	background-color: #f3f365;
	color: #333304;
}

.btn:active {
	box-shadow: 0 0 0 rgba(3, 3, 3, 0.3);
	transform: translateY(0.45rem);
	transition: transform 100ms ease-out;
}

.form-group {
	width: 25rem;
}

/* media queries */
@media only screen and (max-width: 50rem) {
	.app {
		font-size: 1.75rem;
		width: 95%;
	}
}

@media only screen and (max-width: 26.25rem) {
	body {
		padding: 7rem 1rem 0;
	}

	.app {
		margin: 0 auto;
		padding: 2rem 1rem;
		width: 95%;
	}

	.manga {
		padding: 1rem;
		width: 95%;
	}

	span {
		font-size: 1.6rem;
		margin: 0 0.35rem 0 0;
	}
}
