:is(*, *::after, *::before) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 62.5%;
}

body {
	background-color: #b6b600;
	color: #333;
	font-size: 1.8rem;
	line-height: 1.5;
	padding: 10rem 10rem 0;
}

h1 {
	color: ghostwhite;
	text-align: center;
	text-transform: uppercase;
}

:is(.app, .manga) {
	border: 0.2rem solid #8a8a23;
	border-radius: 0.7rem;
}

.app {
	background-color: whitesmoke;
	margin: 3rem auto 0;
	max-width: 55rem;
	padding: 2rem 4rem;
	width: 40rem;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}

.manga {
	padding: 2rem 1rem;
	width: 100%;
}

:not(.manga:last-of-type) {
	margin-bottom: 2rem;
}

.heading {
	padding: 2rem 0;
	text-transform: uppercase;
}

.credits {
	display: flex;
	flex-flow: row wrap;
}
