//Add the colors for the project in variables here

//UI colors
$ui_color_grey: #fcbc00;
$ui_color_deep_grey: #f19c00;
$ui_color_dark: #c62000;

//button colors
$btn_color: #e67c00;

//font colors
$font_color_light: #f8f9fa;
$font_color_dark: #212529;
