//Add the colors for the project in variables here

//UI colors
$ui_color_yellow: #ffc500;
$ui_color_red: #c21500;

//font colors
$font_color_light: #f8f9fa;
$font_color_dark: #000000;

//form colors
$error: #c21500;
$success: #4dfd4d;

$rgba_color: rgba(#c21500, 0.9);
$box_shadow: 0 0.3rem 0.6rem rgba(#000000, 0.5);
