//Add the colors for the project in variables here

//UI colors
$ui_color_light: #fcbc00;
$ui_color_dark: #f19c00;
$ui_color_red: #c62000;

//button colors
$btn_color: #e67c00;

//font colors
$font_color_light: #f8f9fa;
$font_color_dark: #000000;
