//This file will contain the styles for the button component
.btn {
	background-color: transparent;
	border-radius: 0.7rem;
	border: 0.2rem solid rgba($ui_color_red, 0.8);
	box-shadow: 0 0.3rem 0.6rem rgba($font_color_dark, 0.5);
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	padding: 1rem 2rem;
	cursor: pointer;
	width: 25rem;
	will-change: transform;

	transition: transform 200ms ease-out;

	&:hover {
		background-color: $ui_color_red;
		color: $font_color_light;
		transform: translateY(-0.3rem);
	}

	&:active {
		box-shadow: 0 0 0 rgba($font_color_dark, 0.5);
		transform: translateY(0.3rem);
	}
}
