.form {
	border-top: 0.1rem solid $ui_color_red;
	padding-top: 2rem;
	text-align: center;
	width: 100%;

	&__controls {
		width: 100%;
		margin-bottom: 1.4rem;
	}

	&__input {
		background-color: transparent;
		border-radius: 0.5rem;
		border: 0.1rem solid $ui_color_red;
		box-shadow: 0 0.3rem 0.6rem rgba($font_color_dark, 0.5);
		font-family: inherit;
		font-size: inherit;
		padding: 1.3rem 0.5rem;
		width: 90%;
	}

	&__input:focus {
		background-color: rgba($font_color_light, 0.9);
		outline: none;
	}

	&__input:valid {
		background-color: rgba($success, 0.3);
		border: 0.1rem solid rgba($success, 0.7);
	}

	&__input:focus:invalid {
		background-color: rgba($error, 0.3);
	}
}
