.form {
	border-top: 0.1rem solid $ui_color_red;
	padding-top: 2rem;
	text-align: center;
	width: 100%;

	&__controls {
		width: 100%;
		margin-bottom: 1.4rem;
	}

	&__input {
		background-color: rgba($font_color_light, 0.5);
		border-radius: 0.5rem;
		border: 0.1rem solid $ui_color_red;
		box-shadow: 0 0.3rem 0.6rem rgba($font_color_dark, 0.5);
		font-family: inherit;
		font-size: inherit;
		padding: 1.3rem 0.5rem;
		width: 90%;
	}

	&__input:focus {
		background-color: rgba($ui_color_yellow, 0.3);
		outline: none;
	}

	&__input:invalid {
		background-color: rgba($ui_color_red, 0.3);
	}

	&__input:valid {
		border: 0.1rem solid rgba($success, 0.7);
	}

	&__btn {
		background-color: transparent;
		border-radius: 0.7rem;
		border: 0.2rem solid $ui_color_red;
		box-shadow: 0 0.3rem 0.6rem rgba($font_color_dark, 0.5);
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		padding: 1rem 2rem;
		cursor: pointer;
		width: 25rem;
	}

	&__btn:hover {
		background-color: rgba($ui_color_red, 0.3);
	}

	&__btn:active {
		box-shadow: 0 0 0 rgba($font_color_dark, 0.5);
		transform: translateY(0.3rem);
	}
}
