//This file will contain the style for the popup component
.spinner {
	@include bgColor($font-color_light, 0.9, 0.7rem);
	@include centered;

	width: 50%;
	height: 60%;
	z-index: 20;

	&__content {
		@include centered;
		border: 0.7rem solid rgba($font_color_dark, 0.3);
		border-radius: 50%;
		height: 10rem;
		width: 10rem;
		will-change: transform;

		&--1,
		&--2 {
			animation: loader 800ms linear infinite;

			border: 0.7rem solid transparent;
			border-top: 0.7rem solid $ui_color_red;
			z-index: 25;

			top: 38%;
			left: 42.5%;
		}
	}
}
