//This file will contain the style for the popup component
.spinner {
	@include bgColor($font-color_light, 0.9, 0.7rem);
	@include centered;

	width: 50%;
	height: 60%;
	z-index: 20;

	&__content {
		@include centered;
		background-color: $rgba_color;
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
	}
}
