.toast {
	display: none;

	@include bgColor($font-color_light, 0.9, 0.7rem);

	width: 40%;
	height: 50%;
	position: absolute;
	transform: translate(80%, -150%);
	transition: transform 300ms ease-in;
	will-change: transform;
	z-index: 20;

	&.active {
		display: block;
		transform: translate(80%, 50%);
		transition: transform 500ms ease-out;
	}

	//TODO: Add toast close button style
	&__button {
		border: none;
		color: $ui_color_red;
		cursor: pointer;
		display: block;
		font-size: 3rem;

		position: absolute;
	}
}
