.toast {
	display: none;

	@include bgColor($font-color_light, 0.9, 0.7rem);

	width: 40%;
	height: 50%;
	position: absolute;
	transform: translate(80%, -150%);
	z-index: 20;

	&.active {
		display: block;
	}
}
