.app {
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border: none;
	border-radius: 0.7rem;
	margin: 7rem auto;
	padding: 4rem 2rem 0.5rem;
	width: 80vw;

	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: 1fr 1fr 43rem 5rem;
	grid-template-areas:
		"header header"
		"sidebar content"
		"sidebar content"
		"sidebar footer";
	grid-gap: 1rem;
}
