.content {
	grid-area: content;

	position: relative;

	&__display {
		background-image: linear-gradient(to right, #ffc500, #c21500),
			url("../../assets/manga_shop.jpg");
		background-position: center;
		background-size: cover;
		background-blend-mode: overlay;
		height: 100%;
		width: 100%;
	}

	&__section {
		display: none;
	}

	&__section.active {
		display: block;
	}
}
