.content {
	grid-area: content;

	font-weight: bold;
	position: relative;

	&__background {
		background-image: linear-gradient(to right, #c21500, #ffc500),
			url("../../assets/manga_shop.jpg");
		background-position: center;
		background-size: cover;
		background-blend-mode: overlay;
		border-radius: 0.7rem;
		height: 100%;
		width: 100%;

		position: absolute;
	}

	&__section {
		background-color: rgba($font_color_light, 0.8);
		border-radius: 0.7rem;
		display: none;
		padding: 1.7rem 2rem;
		width: 80%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__section.active {
		display: block;
	}

	&__section--display {
		display: flex;
		flex-flow: column wrap;

		margin-bottom: 2rem;
	}

	&__section--quotes {
		& p:nth-child(2) {
			margin: 1.5rem 0;
		}
	}

	&__section--favorites {
		align-self: flex-end;
	}

	&__section--icon {
		padding-right: 1rem;
	}
}
