.content {
	grid-area: content;

	position: relative;

	&__display {
		background-image: url("../../manga_shop.jpg");
		&--image {
			border-radius: 0.7rem;
			opacity: 0.8;
			width: 100%;

			position: absolute;
		}
	}

	&__section {
		display: none;
	}

	&__section.active {
		display: block;

		position: absolute;
		z-index: 10;
	}
}
