.header {
	grid-area: header;

	border-bottom: 0.1rem solid $ui_color_red;
	margin-bottom: 2rem;
	padding: 2rem 3rem 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	&__box {
		// padding-left: 2rem;
	}

	&__heading {
		font-size: 2rem;
	}
}
