.header {
	grid-area: header;

	border-bottom: 0.1rem solid $ui_color_red;
	margin-bottom: 2rem;
	padding: 2rem 3rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;

	&__box {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	&__heading {
		color: rgba($ui_color_red, 0.8);
		font-size: 2.5rem;
		font-weight: bold;
	}

	&__description {
		font-size: 1.5rem;
	}
}
