.header {
	grid-area: header;

	background-image: linear-gradient(to right, #c21500, #ffc500);
	border-radius: 0.7rem;
	margin-bottom: 2rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	&__box {
		padding-left: 2rem;
	}

	&__heading {
		font-size: 2rem;
	}
}
