.sidebar {
	font-weight: bold;
	grid-area: sidebar;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	&__menu {
		display: block;
		list-style-type: none;

		&__item {
			border-bottom: 0.1rem solid $ui_color_red;
			display: block;

			&__link {
				cursor: pointer;
				display: block;
				padding: 2rem 2rem;
				text-decoration: none;
				transition: transform 200ms ease-in;

				&.active,
				&:hover {
					background-color: $ui_color_red;
					color: $font_color_light;
				}
			}

			&:first-of-type &__link {
				border-top-right-radius: 0.5rem;
				border-top-left-radius: 0.5rem;
			}

			&:last-of-type,
			&:last-of-type &__link {
				border-bottom-right-radius: 0.5rem;
				border-bottom-left-radius: 0.5rem;
			}
		}
	}
}
